:root {
  --red-gradient: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --red-gradient-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);

  --red-gradient-active: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.07)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);

  --button-b-shadow: rgba(172, 16, 0, 0.64);
  --button-b-sh-hover: #ac1000;
  --button-b-sh-active: #942718;
  --button-popup-b-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);

  --text-shadow-button: 0px 2px 5px rgba(160, 32, 11, 0.76);
  --border-input: #d3d3d2;
  --border-input-modal: rgba(178, 178, 178, 0.52);
  --border-input-focus: rgba(46, 136, 228, 0.52);
  --background-popup: #f8f7f4;
  --bx-shadow-popup: rgba(0, 0, 0, 0.4);
  --bx-shadow-menu: #696969;
  --bg-bonus-red: #880000;
  --bg-bonus-choco: #35180b;
  --bg-waffle: #ebdcbd;
  --background-hover: #fbded7;
  --background-active: #f6b5a5;
  --background-current: #d07058;
  --background-body: #849d8f;
  --background-subscribe: #f8f7f4;
  --background-address: #fefefe;
  --white: #ffffff;
  --black: #323232;
  --black-cart: #000000;
  --white-opacity: rgba(255, 255, 255, 0.2);
  --input-text: #999999;
  --link: #ffbc9e;
  --link-td: rgba(255, 188, 158, 0.3);
  --link-on-white: #e84d37;
  --link-on-white-td: rgba(232, 77, 55, 0.3);
  --text-subscribe: #5a5a5a;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400; /* ??? */
  color: var(--white);
  background-color: var(--background-body);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.main-header {
  padding-top: 9px;
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--white);
}

.main-header-logo {
  margin-right: 24px;
}

.site-navigation {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  padding-top: 21px;
}

.site-navigation,
.submenu {
  list-style: none;
}

.site-navigation > li > a {
  text-decoration: underline;
  text-decoration-color: var(--white-opacity);
  color: var(--white);
}

.menu-current > a {
  text-decoration: none;
  background-color: var(--background-current);
  border-radius: 26px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--black);
  background-color: var(--white);
  border-radius: 26px;
}

.site-navigation a:active {
  box-shadow: inset 0px 2px 1px var(--bx-shadow-menu);
}

.dropdown {
  display: none;
  width: 143px;
  background-color: var(--white);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
}

/* .menu-item:hover .dropdown {
  display: block;
} */

.submenu > li {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}

.submenu > li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--black);
}

.submenu li:hover,
.submenu li:focus {
  background-color: var(--background-hover);
}

.submenu > li:active {
  background-color: var(--background-active);
}

.current-item {
  background-color: var(--background-current);
  color: var(--white);
}

/* Поиск, вход, корзина */

.user-navigation {
  padding-top: 18px;
}

.user-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

/* Форма поиска */

/* .search-block:hover .search-form {
  display: block;
} */

.search-form {
  display: none;
}

.search-form {
  width: 341px;
  height: 84px;
  background: var(--background-popup);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
}

.search-form input {
  width: 311px;
  height: 44px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 15px;
  padding-right: 0;
  margin-top: 20px;
  margin-left: 15px;
}

.search-form input:hover {
  border: 2px solid var(--border-input);
}

.search-form input:focus {
  border: 2px solid var(--border-input-focus);
}

.search-form input::placeholder {
  font-weight: 400;
  color: var(--input-text);
}

/* Кнопки входа и корзины */

/* .user-link:hover .form-registration {
  display: block;
} */

.form-registration {
  display: none;
}

.login-link,
.main-cart {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  background-color: var(--white-opacity);
  border-radius: 20px;
  padding: 8px;
}

.login-link:hover,
.login-link:focus,
.main-cart:hover,
.main-cart:focus {
  color: var(--black);
  background-color: var(--white);
}

.cart-add {
  background-color: var(--white);
  color: var(--black);
}

/* Popup формы входа */

.form-registration {
  width: 277px;
  height: 214px;
  background: var(--background-popup);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
}

.form-registration input {
  width: 241px;
  height: 44px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 15px;
  margin-top: 20px;
  margin-left: 19px;
  margin-right: 17px;
  margin-bottom: 0px;
}

.form-registration input:hover {
  border: 2px solid var(--border-input);
}

.form-registration input:focus {
  border: 2px solid var(--border-input-focus);
}

.form-registration input::placeholder {
  font-weight: 400;
  color: var(--input-text);
}

.button-link {
  background: var(--red-gradient);
  box-shadow: var(--button-popup-b-shadow);
  border: none;
  border-radius: 26px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;

  float: left;
  padding: 14px 25px;
  margin-top: 20px;
  margin-left: 19px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.help-restore {
  margin-top: 22px;
  margin-bottom: 0;
}

.help-registration {
  margin-top: 3px;
  margin-bottom: 0;
}

.login-help {
  text-decoration: underline;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: var(--black);
  margin-top: 25px;
}

.login-help:hover {
  color: var(--link-on-white);
  text-decoration-color: var(--link-on-white-td);
}

/* Popup корзины */

.cart-form {
  display: none;
  width: 539px;
  height: auto;
  background: var(--background-popup);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
}

.table-cart {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--black);
}

.table-cart td:nth-child(3) {
  color: var(--black-cart);
}

.table-cart td:nth-child(3) span {
  color: var(--input-text);
}

.table-cart tr:nth-child(2) {
  border: 3px solid #cacac7;
}

.table-cart tr:last-child {
  text-align: right;
  font-size: 15px;
  font-weight: 700;
}

.button-cart {
  font-size: 18px;
  line-height: 16px;
  border: none;
  padding: 14px 15px;
}

/* Режим работы и телефон */

.work-hours-phone {
  text-align: right;
}

.work-hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.work-phone {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
}

/* Main */

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

/* Слайдер с мороженым */

.slider-list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.slider-item {
  text-align: center;
}

.slider-item img {
  width: 647px;
  height: 584px;
}

.slider-item h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-control {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* .page-catalog {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
} */ /* не нужно или нужно ????*/

.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 9px;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
}

.page-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white);
  border-bottom: 1px solid var(--white-opacity);
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-image: url(../img/svg/double-arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-current a {
  border-bottom: none;
}

/* Buttons */

.button {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px; /*проверить*/

  text-shadow: var(--text-shadow-button);

  color: var(--white);
  background: var(--red-gradient);
  box-shadow: 0px 2px 2px var(--button-b-shadow);
  border-radius: 70px;
}

.button:hover,
.button:focus {
  background: var(--red-gradient-hover);
  box-shadow: 0px 2px 2px var(--button-b-sh-hover);
}

.button:active {
  background: var(--red-gradient-active);
  box-shadow: inset 0px 2px 2px var(--button-b-sh-active);
}

/* Секция с бонусами */

.preview-bonus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  height: 229px;
  margin-bottom: 40px;
}

.bonus-content-1 {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-bonus-red);
  background-image: url("../img/background/raspberry.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 22px; /*из-за отступов скругления пропадают*/
}

.bonus-content-2 {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-bonus-choco);
  background-image: url("../img/background/chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 22px;
}

.bonus-header {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.bonus-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.button-bonus {
  align-self: flex-end;
  position: relative;
  top: 42px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 22px;
}

/* Параметры выбора в каталоге */

.parameter-select {
  margin-bottom: 40px;
}

.field-select {
  border: none;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

/* .field-select:nth-child(3) .fieldset-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.field-select:nth-child(4) .fieldset-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 711px;
} */

.field-select legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 7px;
  margin-left: 16px;
}

.field-select select {
  background-color: var(--white-opacity);
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--white);
  padding: 9px 16px;
}

.field-select select:hover,
.field-select select:focus {
  color: var(--black);
}

.fieldset-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--white-opacity);
  border-radius: 20px;
  padding: 9px 17px;
}

.fieldset-list label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.button-select {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--white);
  background-color: var(--white-opacity);
  border: 2px solid var(--white);
  border-radius: 20px;
  padding: 9px 29px;
}

.button-select:hover {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.button-select:active {
  border: none;
  box-shadow: inset 0 2px 1px var(--bx-shadow-menu);
}

/* Каталог. Хиты продаж */

.catalog {
  margin-bottom: 40px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
  list-style: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.catalog-item {
  /* display: inline-block; временно */
  position: relative;
  width: 267px;
  height: 324px;
}

.catalog-list h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--white-opacity);
}

.catalog-img img {
  border-radius: 50%;
  width: 267px;
  height: 267px;
}

.catalog-price {
  position: absolute;
  top: 216px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-price span {
  font-size: 30px;
  line-height: 35px;
}

.catalog-item-block::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -13px;
  width: 293px;
  height: 402px;
  background-color: var(--white-opacity);
  border-radius: 4px;
}

.catalog-item-block {
  display: none;
}

/* .catalog-item:hover .catalog-item-block {
  display: block;
} */

.button-catalog {
  left: 46px;
  width: 200px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 12px 16px 0px 16px;
}

.hit-item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  top: 25%;
  border-radius: 50%;
  background-image: url(../img/svg/hit.svg);
  background-repeat: no-repeat;
  background-color: var(--white);
  background-position: 50% 50%;
}

/* Пагинация в каталоге */

.pagination-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  margin: 0;
  margin-right: 26px;
  padding: 0;
}

.pagination-item {
  position: relative;
}

.pagination-item:first-child::before {
  content: "";
  position: absolute;
  right: 24px;
  width: 7px;
  height: 12px;
  background-image: url(../img/svg/arrow-pagination.svg);
  opacity: 0.2;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.pagination-item:last-child::after {
  content: "";
  position: absolute;
  left: 26px;
  width: 7px;
  height: 12px;
  background-image: url(../img/svg/arrow-pagination.svg);
}

.pagination-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--white);
  /* padding: 4px; */
}

.pagination-item a:hover {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--white-opacity);
}

.pagination-item a:active {
  background-color: var(--white);
  color: var(--black);
}

.pagination-item-current a {
  border-radius: 50%;
  background-color: var(--white);
  color: var(--black);
}

/* Информация о магазине */

.about {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-waffle);
  background-image: url(../img/pattern-waffle.jpg);
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.about h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: var(--black);
  margin-top: 0px;
  margin-bottom: 16px;
}

.about-list {
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 83px;
  row-gap: 22px;
  margin: 0;
  margin-left: 55px;
  margin-bottom: 28px;
  padding: 0;
}

.about-list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);
  width: 482px;
}

.about-list-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  border: 2px solid var(--black);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.about-list-item:first-child::before {
  background-image: url(../img/svg/icecream.svg);
}

.about-list-item:nth-child(2)::before {
  background-image: url(../img/svg/cow.svg);
}

.about-list-item:nth-child(3)::before {
  background-image: url(../img/svg/leaf.svg);
}

.about-list-item:last-child::before {
  background-image: url(../img/svg/thermometer.svg);
}

/* Новости в блоге */

.news-subscribe-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

.new-blog {
  width: 560px;
  height: 220px;
  background-color: var(--white);
  background-image: url(../img/background/srawberries.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.new-blog h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
  padding-top: 20px;
  padding-left: 20px;
  margin: 0;
}

.blog-link {
  display: block;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);
  width: 287px;
  padding-left: 20px;
}

.blog-link:hover,
.blog-link:active {
  color: var(--link-on-white);
  text-decoration-color: var(--link-on-white-td);
}

/* Подписка */

.subscribe {
  position: relative;
  z-index: 1;
  width: 560px;
  height: 220px;
  background-image: url(../img/background/background-post.png);
  background-repeat: no-repeat;
}

.subscribe-wrap {
  content: "";
  position: relative;
  top: 5px;
  left: 6px;
  z-index: 2;
  border-radius: 16px;
  background: var(--background-subscribe);
  width: 548px;
  height: 210px;
}

.subscribe-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--text-subscribe);
  padding-top: 29px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 47px;
}

.subscribe-wrap input {
  width: 368px;
  height: 44px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border: 1px solid var(--border-input-modal);
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 10px;
  outline: none;
}

.subscribe-wrap input:hover {
  border: 2px solid var(--border-input);
}

.subscribe-wrap input:focus {
  border: 2px solid var(--border-input-focus);
}

.subscribe-wrap input::placeholder {
  font-weight: 400;
  color: var(--input-text);
}

.button-submit {
  font-size: 18px;
  line-height: 24px;
  width: 130px;
  height: 44px;
  border: none;
}

/* Карта и адрес магазина */

.contacts {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  margin-bottom: 18px;
}

.address-map {
  text-align: center;
  width: 100%;
  height: 430px;
  display: block;
}

.address-map img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.address-map::before {
  content: "";
  width: 80px;
  height: 140px;
  position: absolute;
  top: 107px;
  left: 525px;
  background-image: url(../img/svg/map-marker.svg);
  background-repeat: no-repeat;
}

.address-wrap {
  display: flex;
  justify-content: flex-end;
}

.contacts-address {
  position: absolute;
  top: 62px;
  width: 303px;
  height: 306px;
  background: var(--background-address);
  border-radius: 16px;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: var(--black);
}

.address-block {
  padding-top: 30px;
  padding-left: 25px;
}

.contacts-address span,
.contacts-address .contacts-phone {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black);
}

.contacts-address p {
  margin: 0;
}

.contacts-address span {
  display: block;
  padding-bottom: 22px;
}

.button-feedback {
  font-size: 18px;
  line-height: 24px;
  padding: 9px 28px;
  margin-top: 29px;
}

/* Footer */

.main-footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 26px;
}

/* Социальные кнопки */

.footer-socials {
  text-align: center;
  justify-self: start;
  padding-top: 18px;
}

.footer-socials-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button:hover path,
.social-button:focus path {
  fill-opacity: 1;
}

.social-button:active path {
  stroke-opacity: 0.7;
}

/* Блок с дополнительной информацией */

.footer-additional-info {
  justify-self: center;
}

.additional-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  position: relative;
}

.additional-info a {
  text-decoration: none;
  border-bottom: 1px solid var(--white-opacity);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: var(--white);
}

.additional-info a:hover,
.additional-info a:focus,
.additional-info a:active {
  color: var(--link);
  border-bottom: 1px solid var(--link-td);
}

.additional-info li:first-child a {
  font-weight: 700;
}

.additional-info li:first-child::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-image: url(../img/svg/heart.svg);
  background-repeat: no-repeat;
}

/* Сделано в академии */

.footer-copyright {
  justify-self: end;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright p:last-child {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 8px;
}

.copyright-link {
  text-decoration: underline;
  color: var(--white);
  text-decoration-color: var(--white-opacity);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {
  color: var(--link);
  text-decoration-color: var(--link-td);
}

/* Модальное окно */

.modal {
  display: block;
  width: 477px;
  height: 441px;
  background: var(--background-popup);
  border-radius: 6px;
}

.modal h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--black);
  margin-top: 20px;
}

.modal input,
.modal textarea {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: 1px solid var(--border-input-modal);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 14px;
  padding-right: 0;
  width: 267px;
  height: 44px;
  margin-left: 24px;
}

.modal textarea {
  width: 428px;
  height: 154px;
  padding-top: 16px;
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid var(--border-input-modal);
}

.modal input:focus,
.modal textarea:focus {
  border: 2px solid var(--border-input-focus);
  outline: none;
}

.modal input::placeholder,
.modal textarea::placeholder {
  font-weight: 400;
  color: var(--input-text);
}

.modal .button-submit {
  width: 140px;
}
