:root {
  --bg-site-1: #849d8f;
  --bg-site-2: #8996a6;
  --bg-site-3: #9d8b84;
  --bg-blur-1: rgba(215, 242, 227, 0.75);
  --bg-blur-2: rgba(218, 228, 239, 0.75);
  --bg-blur-3: rgba(239, 224, 218, 0.75);
  --bg-popup: #f8f7f4;
  --bx-shadow-popup: rgba(0, 0, 0, 0.4);
  --black: #323232;
  --black-cart: #000000;
  --border-cart: #cacac7;
  --bx-shadow-menu: #696969;
  --bg-bonus-red: #880000;
  --bg-bonus-choco: #35180b;
  --bg-waffle: #ebdcbd;
  --bg-hover: #fbded7;
  --bg-active: #f6b5a5;
  --bg-current: #d07058;
  --bg-subscribe: #f8f7f4;
  --bg-address: #fefefe;
  --bg-scale-range: rgba(248, 247, 244, 0.5);
  --bg-toggle: #ababab;
  --bx-sh-toggle: rgba(171, 171, 171, 0.3);
  --border-input: #d3d3d2;
  --border-input-modal: rgba(178, 178, 178, 0.52);
  --border-input-focus: rgba(46, 136, 228, 0.52);
  --btn-gradient: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --btn-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --btn-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --btn-b-sh: rgba(172, 16, 0, 0.64);
  --btn-b-sh-hover: #ac1000;
  --btn-b-sh-active: #942718;
  --btn-popup-b-sh: 0px 1px 2px rgba(172, 16, 0, 0.25);
  --input-txt: #999999;
  --link: #ffbc9e;
  --link-td: rgba(255, 188, 158, 0.3);
  --link-on-white: #e84d37;
  --link-on-white-td: rgba(232, 77, 55, 0.3);
  --slider-hover: rgba(255, 255, 255, 0.4);
  --shadow-site: rgba(0, 0, 0, 0.3);
  --submenu-border: rgba(50, 50, 50, 0.2);
  --txt-shadow-btn: 0px 2px 5px rgba(160, 32, 11, 0.76);
  --txt-subscribe: #5a5a5a;
  --white: #ffffff;
  --white-opacity: rgba(255, 255, 255, 0.2);
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.main-header {
  min-height: 114px;
  padding-top: 9px;
}

.main-navigation {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr auto;
  grid-template-columns: min-content 1fr auto;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--white);
}

.main-header-logo {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 11px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;

  height: -webkit-max-content;

  height: -moz-max-content;

  height: max-content;
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

.site-navigation,
.submenu {
  list-style: none;
}

.menu-items {
  position: relative;

  height: -webkit-fit-content;

  height: -moz-fit-content;

  height: fit-content;
}

.menu-items ul {
  padding: 0;
}

.menu-items > a {
  display: block;
  padding: 7px 13px 7px 13px;

  color: var(--white);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--white-opacity);
  text-decoration-color: var(--white-opacity);
}

.menu-items > a:hover,
.menu-items > a:focus {
  padding: 7px 13px;

  color: var(--black);

  background-color: var(--white);
  border-radius: 26px;
}

.menu-items > a:active {
  box-shadow: inset 0px 2px 1px var(--bx-shadow-menu);
}

.menu-current > a {
  display: block;
  padding: 7px 13px 7px 13px;

  text-decoration: none;

  background-color: var(--bg-current);
  border-radius: 26px;
}

.menu-current > a:hover {
  color: var(--white);
  background-color: var(--bg-current);
}

.submenu {
  position: absolute;
  display: none;
  left: -7px;
  top: 36px;
  z-index: 5;

  width: 143px;
  min-height: 171px;
  padding-top: 13px;

  background-color: var(--white);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
}

.submenu::before {
  content: "";
  position: absolute;
  top: -15px;

  width: 100px;
  height: 20px;
}

.menu-items:hover .submenu,
.menu-items:focus-within .submenu {
  display: block;
}

.submenu li {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}

.submenu p {
  position: relative;
  padding-top: 4px;
  padding-left: 21px;
  padding-bottom: 10px;
  margin: 0;
}

.submenu p::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 48px;

  width: 128px;
  height: 1px;
  margin-left: -30%;

  background: var(--submenu-border);
}

.submenu a {
  padding-left: 21px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--black);

  text-decoration: none;
}

.submenu-item:hover:not(:first-child),
.submenu-item:focus:not(:first-child) {
  background-color: var(--bg-hover);
}

.submenu-item:active:not(:first-child) {
  background-color: var(--bg-active);
}

.current-item {
  color: var(--white);
  background-color: var(--bg-current);
}

/* Поиск, вход, корзина */

.user-navigation {
  padding-top: 14px;
}

.user-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 21px;
}

/* Форма поиска */

.search-block {
  position: relative;
}

.search-block button {
  position: relative;

  width: 32px;
  height: 32px;

  background-color: var(--white-opacity);
  border: none;
  border-radius: 50%;
}

.search-block button:hover,
.search-block button:focus {
  background-color: var(--white);
}

.search-block:hover .search-form,
.search-block:focus-within .search-form {
  display: block;
}

.search svg {
  position: absolute;
  top: 7px;
  left: 8px;
  z-index: 2;
}

.search:hover path,
.search:focus path {
  fill: var(--black);
}

.search-form {
  position: absolute;
  top: 35px;
  right: 0px;
  z-index: 2;

  display: none;
  width: 341px;
  height: 84px;

  background: var(--bg-popup);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 0;

  width: 341px;
  height: 24px;
}

.search-form input {
  width: 311px;
  height: 44px;
  padding: 15px;
  padding-right: 0;
  margin-top: 20px;
  margin-left: 15px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;

  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.search-form input:hover {
  padding: 14px;
  border: 2px solid var(--border-input);
}

.search-form input:focus {
  padding: 14px;
  border: 2px solid var(--border-input-focus);
}

.search-form input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.search-form input::-moz-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.search-form input::placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

/* Кнопки входа и корзины */

.user-link {
  position: relative;
}

.user-link:hover .form-registration,
.user-link:focus-within .form-registration {
  display: block;
}

.login-link,
.main-cart {
  position: relative;

  display: block;
  padding: 9px 16px;
  padding-bottom: 8px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--white);

  text-decoration: none;
  background-color: var(--white-opacity);
  border-radius: 20px;
}

.login-link {
  padding-left: 44px;
}

.login-link svg {
  position: absolute;
  left: 16px;
  top: 6px;
}

.login-link:hover path,
.login-link:focus path,
.login-link:active path {
  fill: var(--black);
}

.login-link:hover,
.login-link:focus,
.main-cart:hover,
.main-cart:focus {
  color: var(--black);
  background-color: var(--white);
}

.main-cart {
  padding-left: 45px;
}

.main-cart svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.main-cart:hover path,
.main-cart:focus path {
  fill: var(--black);
}

.cart-add::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/svg/cart-full.svg");
}

.cart-add {
  color: var(--black);
  background-color: var(--white);
}

.cart-add path {
  fill: var(--black);
}

/* Popup формы входа */

.form-registration {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 2;

  display: none;
  width: 277px;
  height: 214px;

  background: var(--bg-popup);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
}

.form-registration::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 0;

  width: 277px;
  height: 24px;
}

.form-registration input {
  width: 241px;
  height: 44px;
  margin-top: 20px;
  margin-left: 19px;
  margin-right: 17px;
  margin-bottom: 0px;
  padding: 15px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;

  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.form-registration input:hover {
  padding: 14px;
  border: 2px solid var(--border-input);
}

.form-registration input:focus {
  padding: 14px;
  border: 2px solid var(--border-input-focus);
}

.form-registration input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.form-registration input::-moz-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.form-registration input::placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.button-link {
  float: left;
  margin-top: 20px;
  margin-left: 19px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding: 14px 26px;

  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: var(--white);

  background: var(--btn-gradient);
  box-shadow: var(--btn-popup-b-sh);
  border: none;
  border-radius: 26px;
}

.help-restore {
  margin-top: 21px;
  margin-bottom: 0;
}

.help-registration {
  margin-top: 3px;
  margin-bottom: 0;
}

.login-help {
  margin-top: 25px;

  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: var(--black);

  text-decoration: underline;
}

.login-help:hover {
  color: var(--link-on-white);
  -webkit-text-decoration-color: var(--link-on-white-td);
  text-decoration-color: var(--link-on-white-td);
}

/* Popup корзины */

.cart {
  position: relative;
}

.cart-form {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 2;

  display: none;
  height: auto;
  padding-top: 18px;
  padding-right: 14px;
  padding-bottom: 17px;
  padding-left: 15px;

  background: var(--bg-popup);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
}

.cart-form::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 0;

  width: 130px;
  height: 24px;
}

.cart:hover .cart-form,
.cart:focus-within .cart-form {
  display: block;
}

.table-cart {
  width: 510px;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--black);

  border-collapse: collapse;
}

.table-cart button {
  position: relative;
  top: -5px;
  left: 3px;

  width: 15px;
  height: 15px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.table-cart button::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 1px;

  background-color: var(--black);
  transform: rotate(45deg);
}

.table-cart button::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 1px;

  background-color: var(--black);
  transform: rotate(-45deg);
}

.table-cart td {
  padding-bottom: 16px;
}

.table-cart td:nth-child(1) {
  padding-right: 3px;
}

.table-cart td:nth-child(2) {
  width: 33px;
  padding-right: 11px;
}

.table-cart td:nth-child(3) {
  width: 216px;
  padding-right: 31px;
}

.table-cart td:nth-child(4) {
  width: 95px;
  padding-right: 23px;

  color: var(--black-cart);
}

td:nth-child(4) span {
  color: var(--input-txt);
}

.cart-tr-2 td:nth-child(n + 3) {
  padding-top: 8px;
  vertical-align: baseline;
}

tr:last-child td {
  padding-top: 16px;
  padding-bottom: 15px;

  font-size: 15px;
  font-weight: 700;
  text-align: end;

  border-top: 1px solid var(--border-cart);
}

.btn-cart-wrap {
  position: relative;
  padding-bottom: 48px;
}

.button-cart {
  position: absolute;
  right: 0;

  padding: 14px 15px;

  font-size: 18px;
  line-height: 16px;

  border: none;
}

/* Режим работы и телефон */

.work-hours-phone {
  text-align: right;
}

.work-hours {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.work-phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white);

  text-decoration: none;
}

/* Слайдер с мороженым */

.site-wrapper {
  min-width: 1200px;

  background-color: var(--bg-site-1);
  background-repeat: no-repeat;
  background-position: center 83px;
}

.site-wrapper-1 {
  position: relative;
  z-index: 0;

  background-color: var(--bg-site-1);

  transition-timing-function: linear;
  transition-duration: 1s;
}

.site-wrapper-1::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: -2;
  transform: translate(-50%);

  width: 716px;
  height: 716px;

  background: var(--bg-blur-1);
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

.site-wrapper-2 {
  position: relative;
  z-index: 1;

  background-color: var(--bg-site-2);

  transition-timing-function: linear;
  transition-duration: 1s;
}

.site-wrapper-2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: -2;
  transform: translate(-50%);

  width: 716px;
  height: 716px;

  background: var(--bg-blur-2);
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

.site-wrapper-3 {
  position: relative;
  z-index: 1;

  background-color: var(--bg-site-3);

  transition-timing-function: linear;
  transition-duration: 1s;
}

.site-wrapper-3::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: -2;
  transform: translate(-50%);

  width: 716px;
  height: 716px;

  background: var(--bg-blur-3);
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

.slider {
  position: relative;
  padding-top: 273px;

  text-align: center;
}

.slider-list {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-item h3 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-item img {
  position: absolute;
  top: -40px;
  left: 50%;
  z-index: -1;
  transform: translate(-50%);
}

.slide-button {
  padding: 9px 21px;
  margin-right: 16px;

  font-size: 32px;
  line-height: 44px;
  letter-spacing: 1.5px;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  display: flex;
  gap: 8px;
}

.slider-controls button {
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 50%;

  cursor: pointer;
}

.slider-controls button:hover {
  background-color: var(--slider-hover);
}

.slider-controls button:active {
  background-color: var(--white);
}

.slider-controls .current {
  background-color: var(--white);
  pointer-events: none;
}

/* Main */

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/* Страница Каталога */

.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
  margin-top: -25px;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
}

.page-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

/* Breadcrumbs */

.breadcrumbs {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: -webkit-max-content;

  width: -moz-max-content;

  width: max-content;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 15px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -7px;

  width: 6px;
  height: 6px;

  background-image: url(../img/svg/double-arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  display: block;
  margin-right: 8px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white);

  text-decoration: none;
  border-bottom: 1px solid var(--white-opacity);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: var(--bg-hover);
  border-color: var(--bg-hover);
}

.breadcrumbs-current a,
.breadcrumbs-current a:hover {
  color: var(--white);
  border-bottom: none;
}

/* Buttons */

.button {
  display: inline-block;

  font-weight: 700;
  color: var(--white);
  text-align: center;

  text-decoration: none;
  text-shadow: var(--txt-shadow-btn);
  background: var(--btn-gradient);
  box-shadow: 0px 2px 2px var(--btn-b-sh);
  border-radius: 70px;
}

.button:hover,
.button:focus {
  background: var(--btn-hover);
  box-shadow: 0px 2px 2px var(--btn-b-sh-hover);
}

.button:active {
  background: var(--btn-active);
  box-shadow: inset 0px 2px 2px var(--btn-b-sh-hover);
}

/* Секция с бонусами */

.preview-bonus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 26px;
  column-gap: 26px;

  min-height: 229px;
  margin-bottom: 40px;
}

.bonus-content-1,
.bonus-content-2 {
  display: flex;
  flex-direction: column;

  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 22px;
  padding-right: 22px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.bonus-content-1 {
  background-color: var(--bg-bonus-red);
  background-image: url("../img/background/raspberry.png");
}

.bonus-content-2 {
  background-color: var(--bg-bonus-choco);
  background-image: url("../img/background/chocolate.png");
}

.bonus-header {
  margin: 0;
  margin-bottom: 16px;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.bonus-text {
  margin: 0;
  padding-bottom: 42px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.button-bonus {
  position: relative;
  align-self: flex-end;

  padding: 12px 22px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/* Параметры выбора в каталоге */

.filters {
  margin-bottom: 40px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.filter fieldset {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  margin-bottom: 7px;
  padding-left: 17px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter select {
  width: 195px;
  padding: 9px 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--white);

  background-color: var(--white-opacity);
  border-radius: 20px;
  border: none;

  /* стрелка */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  cursor: pointer;
}

.arrow-select svg {
  position: absolute;
  top: 13px;
  right: 13px;
}

.arrow-select:hover path,
.arrow-select:focus path,
.arrow-select:active path {
  fill: var(--black);
}

.filter select:hover,
.filter select:focus {
  color: var(--black);
}

/* Двойной ползунок */

.range-filter {
  width: 218px;
}

.range-controls {
  position: relative;

  height: 19px;
  padding-top: 15px;
  padding-right: 21px;
  padding-left: 21px;

  background-color: var(--white-opacity);
  border-radius: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--bg-scale-range);
}

.range-controls .bar {
  width: 45%;
  height: 2px;

  background-color: var(--bg-popup);
}

.range-controls .toggle {
  position: absolute;
  top: 6px;

  width: 4px;
  height: 4px;

  border: 8px solid var(--white);
  background-color: var(--bg-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--bx-sh-toggle);

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 42px;
}

.range-controls .toggle-max {
  left: 132px;
}

.range-controls .toggle:hover {
  border: 9px solid var(--white);
}

.filter ul {
  display: flex;

  margin: 0;
  padding: 0;
  padding: 9px 17px 9px 14px;

  background-color: var(--white-opacity);
  border-radius: 20px;
  list-style: none;
}

.filter-option label {
  position: relative;

  display: block;
  padding-left: 35px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.filter-radio {
  padding-right: 17px;
}

.filter-checkbox {
  padding-right: 20px;
}

.filter-checkbox:last-child,
.filter-radio:last-child {
  padding-right: 0px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;

  width: 14px;
  height: 14px;

  border: 4px solid var(--white);
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;

  width: 8px;
  height: 8px;

  background-color: var(--white);
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:focus + label::after {
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;

  width: 20px;
  height: 20px;

  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;

  width: 24px;
  height: 20px;

  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.4;
}

.filter-button {
  margin-top: 22px;
  padding: 7px 28px;
  box-sizing: border-box;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--white);

  background-color: var(--white-opacity);
  border: 2px solid var(--white);
  border-radius: 20px;
}

.filter-button:hover {
  color: var(--black);
  background-color: var(--white);

  cursor: pointer;
}

.filter-button:active {
  padding: 9px 30px;

  border: none;
  box-shadow: inset 0 2px 1px var(--bx-shadow-menu);
}

/* Каталог. Хиты продаж */

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 26px;
  column-gap: 26px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 267px;
  min-height: 324px;
  margin-bottom: 36px;
}

.catalog-item .catalog-name {
  order: 1;
  margin: 0;

  text-align: center;
}

.catalog-name a {
  position: relative;
  z-index: 2;
  order: 1;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--white);

  text-decoration: underline;
  -webkit-text-decoration-color: var(--white-opacity);
  text-decoration-color: var(--white-opacity);
}

.catalog-name a:hover,
.catalog-name a:focus,
.catalog-name a:active {
  color: var(--link);
  -webkit-text-decoration-color: var(--link-td);
  text-decoration-color: var(--link-td);
}

.catalog-img {
  margin: 0;
  margin-bottom: 11px;
}

.catalog-img img {
  display: block;

  width: 267px;
  height: 267px;

  border-radius: 50%;
}

.catalog-price {
  position: absolute;
  top: 209px;

  margin: 0;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-price span {
  font-size: 30px;
  line-height: 35px;
}

.catalog-item-block::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: -13px;

  width: 293px;
  min-height: 402px;

  background-color: var(--white-opacity);
  border-radius: 4px;
}

.catalog-item-block {
  margin: 0;

  display: none;
}

.catalog-item:hover .catalog-item-block,
.catalog-item:focus-within .catalog-item-block {
  display: block;
}

.button-catalog {
  position: absolute;
  left: 33px;
  bottom: -52px;
  z-index: 2;

  padding: 10px 16px;

  font-size: 18px;
  line-height: 24px;
}

/* для переполнения */
.button-catalog::before {
  content: "";
  position: absolute;
  top: -10px;

  width: 170px;
  height: 20px;
}

.hit-item::before {
  content: "";
  position: absolute;

  width: 61px;
  height: 61px;

  background-image: url(../img/svg/hit.svg);
  background-repeat: no-repeat;
  background-color: var(--white);
  background-position: 50% 50%;
  border-radius: 50%;
}

/* Пагинация в каталоге */

.pagination-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 4px;

  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-top: 40px;

  list-style: none;
}

.pagination-item {
  position: relative;

  width: 26px;
  height: 26px;
}

.pagination-item a {
  display: block;
  padding: 4px 4px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--white);

  text-decoration: none;
  text-align: center;
}

.pagination-item-prev {
  transform: rotate(180deg);
}

.pagination-item-next {
  margin-right: -10px;
  margin-left: 5px;
}

.pagination-item-prev:active path,
.pagination-item-next:active path {
  fill: var(--black);
}

.pagination-item a:hover {
  background-color: var(--white-opacity);
  border-radius: 50%;
}

.pagination-item a:active {
  color: var(--black);
  background-color: var(--white);
}

.pagination-item-current a,
.pagination-item-current a:hover {
  color: var(--black);
  background-color: var(--white);
  border-radius: 50%;
}

.prev-not-active a {
  opacity: 0.2;
}

.prev-not-active a:hover {
  background-color: transparent;
}

.prev-not-active:active path {
  fill: var(--white);
}

/* Информация о магазине */

.about {
  display: flex;
  flex-wrap: wrap;

  margin-top: 2px;
  margin-bottom: 40px;
  padding-top: 24px;
  padding-left: 20px;

  background-color: var(--bg-waffle);
  background-image: url(../img/pattern-waffle.jpg);
  border-radius: 16px;
}

.about h2 {
  margin-top: 0px;
  margin-bottom: 17px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: var(--black);
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 83px;
  column-gap: 83px;
  row-gap: 22px;

  margin: 0;
  margin-left: 56px;
  margin-bottom: 30px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;

  list-style: none;
}

.about-list-item {
  position: relative;

  width: 482px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);
}

.about-list-item::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -57px;

  width: 47px;
  height: 47px;

  border: 2px solid var(--black);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.about-list-item:first-child::before {
  background-image: url(../img/svg/icecream.svg);
}

.about-list-item:nth-child(2)::before {
  background-image: url(../img/svg/cow.svg);
}

.about-list-item:nth-child(3)::before {
  background-image: url(../img/svg/leaf.svg);
}

.about-list-item:last-child::before {
  background-image: url(../img/svg/thermometer.svg);
}

/* Новости в блоге */

.news-subscribe-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 26px;
  column-gap: 26px;

  margin-bottom: 40px;
}

.new-blog {
  width: 560px;
  min-height: 220px;

  background-color: var(--white);
  background-image: url(../img/background/srawberries.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

.new-blog h2 {
  margin: 0;
  padding-top: 19px;
  padding-left: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
}

.blog-link {
  display: block;
  width: 287px;
  padding-top: 2px;
  padding-bottom: 19px;
  padding-left: 20px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);

  text-decoration: underline;
}

.blog-link:hover,
.blog-link:active {
  color: var(--link-on-white);
  -webkit-text-decoration-color: var(--link-on-white-td);
  text-decoration-color: var(--link-on-white-td);
}

/* Подписка */

.subscribe {
  position: relative;
  z-index: 1;

  width: 560px;
  min-height: 220px;
  padding: 5px 6px;
  box-sizing: border-box;

  background: repeating-linear-gradient(
    135deg,
    #f8f7f4,
    #f8f7f4 6px,
    #92cdff 7px,
    #92cdff 13.5px,
    #f8f7f4 14px,
    #f8f7f4 20px,
    #fe9e90 21px,
    #fe9e90 27.5px
  );
  border-radius: 16px;
}

.subscribe-wrap {
  height: 100%;

  background: var(--bg-subscribe);
  border-radius: 16px;
}

.subscribe-text {
  margin: 0;
  padding-top: 25px;
  padding-right: 16px;
  padding-bottom: 40px;
  padding-left: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--txt-subscribe);
}

.subscribe form {
  padding-bottom: 35px;
}

.subscribe-wrap input {
  width: 368px;
  height: 44px;
  margin-left: 20px;
  margin-right: 7px;
  padding: 14px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border: 1px solid var(--border-input-modal);
  border-radius: 6px;
  outline: none;
}

.subscribe-wrap input:hover {
  padding: 13px;
  border: 2px solid var(--border-input);
}

.subscribe-wrap input:focus {
  padding: 13px;
  border: 2px solid var(--border-input-focus);
}

.subscribe-wrap input::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.subscribe-wrap input::-moz-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.subscribe-wrap input::placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.button-submit {
  padding: 10px 19px;

  font-size: 18px;
  line-height: 24px;

  border: none;
}

/* Карта и адрес магазина */

.contacts {
  display: grid;
  grid-template-columns: auto;
  position: relative;

  margin-bottom: 18px;
}

.contacts iframe {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 430px;
}

.address-map {
  position: absolute;
  top: 0px;
  z-index: 1;

  width: 100%;
  height: 430px;
}

.address-map img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.address-wrap {
  display: flex;
  justify-content: flex-end;
}

.contacts-address {
  position: absolute;
  top: 62px;
  z-index: 3;

  width: 303px;
  height: 306px;

  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: var(--black);

  background: var(--bg-address);
  border-radius: 16px;
}

.address-block {
  padding-top: 30px;
  padding-left: 25px;
}

.contacts-address span,
.contacts-address .contacts-phone {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black);

  text-decoration: none;
}

.contacts-address p {
  margin: 0;
}

.contacts-address span {
  display: block;
  padding-bottom: 22px;
}

.button-feedback {
  margin-top: 29px;
  padding: 9px 28px;

  font-size: 18px;
  line-height: 24px;
}

/* Footer */

.main-footer {
  margin-bottom: 25px;
}

.main-footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  -moz-column-gap: 26px;
  column-gap: 26px;
}

/* Социальные кнопки */

.footer-socials {
  justify-self: start;
  padding-top: 16px;

  text-align: center;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button:hover path,
.social-button:focus path {
  fill-opacity: 1;
}

.social-button:active path {
  stroke-opacity: 0.7;
}

/* Блок с дополнительной информацией */

.footer-additional-info {
  justify-self: center;
}

.additional-info {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 33px;
  column-gap: 33px;
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 4px;
  padding-top: 12px;

  list-style: none;
}

.additional-info a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: var(--white);

  text-decoration: none;
  border-bottom: 1px solid var(--white-opacity);
}

.additional-info a:hover,
.additional-info a:focus,
.additional-info a:active {
  color: var(--link);
  border-bottom: 1px solid var(--link-td);
}

.additional-info li:first-child a {
  font-weight: 700;
}

.additional-info li:first-child::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -18px;

  width: 15px;
  height: 13px;

  background-image: url(../img/svg/heart.svg);
  background-repeat: no-repeat;
}

/* Сделано в академии */

.footer-copyright {
  justify-self: end;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright p:last-child {
  padding-top: 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.copyright-link {
  color: var(--white);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--white-opacity);
  text-decoration-color: var(--white-opacity);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {
  color: var(--link);
  -webkit-text-decoration-color: var(--link-td);
  text-decoration-color: var(--link-td);
}

/* Модальное окно */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-1000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-1000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: var(--shadow-site);
  display: none;
}

.modal-wrapper {
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  bottom: auto;
  z-index: 5;

  margin: auto;
  width: 428px;
  padding-top: 16px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;

  background: var(--bg-popup);
  border-radius: 6px;

  display: none;
}

.modal-shadow-on {
  display: block;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.3s;
  animation: bounce 0.3s;
}

.modal-error {
  -webkit-animation: shake 0.3s;
  animation: shake 0.3s;
}

.modal-wrapper h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--black);
}

.feedback-form p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form input,
.feedback-form textarea {
  width: 267px;
  height: 44px;
  padding: 14px;
  box-sizing: border-box;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  border: 1px solid var(--border-input-modal);
  border-radius: 4px;
}

.feedback-form textarea {
  width: 428px;
  height: 154px;
  padding-top: 11px;
}

.feedback-form input:hover {
  padding: 13px;
  border: 2px solid var(--border-input-modal);
}

.feedback-form textarea:hover {
  padding: 10px;
  padding-left: 13px;

  border: 2px solid var(--border-input-modal);
}

.feedback-form input:focus {
  padding: 13px;

  border: 2px solid var(--border-input-focus);
  outline: none;
}

.feedback-form textarea:focus {
  padding: 10px;
  padding-left: 13px;

  border: 2px solid var(--border-input-focus);
  outline: none;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.feedback-form input::-moz-placeholder,
.feedback-form textarea::-moz-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.feedback-form input::-webkit-input-placeholder, .feedback-form textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.feedback-form input::-moz-placeholder, .feedback-form textarea::-moz-placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-weight: 400;
  color: var(--input-txt);
}

.feedback-form .button-submit {
  position: relative;
  right: -288px;

  padding: 10px 24px;

  font-size: 18px;
  line-height: 24px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 15px;

  width: 18px;
  height: 17px;

  border: none;
  background-color: transparent;
  background-image: url("../img/svg/cross-modal.svg");

  cursor: pointer;
}
