:root {
  --bg-site-1: #849d8f;
  --bg-site-2: #8996a6;
  --bg-site-3: #9d8b84;
  --bg-blur-1: rgba(215, 242, 227, 0.75);
  --bg-blur-2: rgba(218, 228, 239, 0.75);
  --bg-blur-3: rgba(239, 224, 218, 0.75);
  --red-gradient: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --red-gradient-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);

  --red-gradient-active: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.07)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);

  --button-b-shadow: rgba(172, 16, 0, 0.64);
  --button-b-sh-hover: #ac1000;
  --button-b-sh-active: #942718;
  --button-popup-b-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);

  --text-shadow-button: 0px 2px 5px rgba(160, 32, 11, 0.76);
  --border-input: #d3d3d2;
  --border-input-modal: rgba(178, 178, 178, 0.52);
  --border-input-focus: rgba(46, 136, 228, 0.52);
  --background-popup: #f8f7f4;
  --bx-shadow-popup: rgba(0, 0, 0, 0.4);
  --bx-shadow-menu: #696969;
  --bg-bonus-red: #880000;
  --bg-bonus-choco: #35180b;
  --bg-waffle: #ebdcbd;
  --background-hover: #fbded7;
  --background-active: #f6b5a5;
  --background-current: #d07058;
  --background-subscribe: #f8f7f4;
  --background-address: #fefefe;
  --border-cart: #cacac7;
  --white: #ffffff;
  --black: #323232;
  --black-cart: #000000;
  --white-opacity: rgba(255, 255, 255, 0.2);
  --slider-hover: rgba(255, 255, 255, 0.4);
  --input-text: #999999;
  --link: #ffbc9e;
  --link-td: rgba(255, 188, 158, 0.3);
  --link-on-white: #e84d37;
  --link-on-white-td: rgba(232, 77, 55, 0.3);
  --text-subscribe: #5a5a5a;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400; /* ??? */
  color: var(--white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.main-header {
  padding-top: 9px;
  min-height: 114px;
}

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr auto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--white);
}

.main-header-logo {
  margin-right: 11px;
  height: max-content;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin: 0;
  padding: 0;
  /* padding-top: 21px; */
  padding-top: 14px;
}

.site-navigation,
.submenu {
  list-style: none;
}

.menu-items {
  position: relative;
  height: fit-content;
}

.menu-items > a {
  display: block;
  text-decoration: underline;
  text-decoration-color: var(--white-opacity);
  /* border-bottom: 1px solid var(--white-opacity); */
  color: var(--white);
  padding: 7px 13px 0px 13px;
}

.menu-current > a {
  display: block;
  text-decoration: none;
  background-color: var(--background-current);
  border-radius: 26px;
  padding: 7px 13px 7px 13px;
}

.menu-items > a:hover,
.menu-items > a:focus {
  color: var(--black);
  background-color: var(--white);
  border-radius: 26px;
  padding: 7px 13px;
}

.menu-current > a:hover {
  color: var(--white);
  background-color: var(--background-current);
}

.menu-items > a:active {
  box-shadow: inset 0px 2px 1px var(--bx-shadow-menu);
}

.dropdown {
  position: absolute;
  display: none;
  left: -7px;
  top: 36px;
  width: 143px;
  height: 171px;
  z-index: 5;
  background-color: var(--white);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
  padding-top: 13px;
}

.menu-items:hover .dropdown {
  display: block;
}

.menu-items ul {
  padding: 0; /*переделать в дропдаун*/
}

.submenu li {
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}

.submenu p {
  position: relative;
  padding-top: 4px;
  padding-left: 21px;
  padding-bottom: 10px;
  margin: 0;
}

.submenu p::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 48px;
  width: 128px;
  height: 1px;
  margin-left: -30%;
  background: rgba(50, 50, 50, 0.2);
}

.submenu a {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--black);
  padding-left: 21px;
}

.submenu-item:hover:not(:first-child),
.submenu-item:focus:not(:first-child) {
  background-color: var(--background-hover);
}

.submenu-item:active:not(:first-child) {
  background-color: var(--background-active);
}

.current-item {
  background-color: var(--background-current);
  color: var(--white);
}

/* Поиск, вход, корзина */

.user-navigation {
  padding-top: 14px;
}

.user-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 21px;
}

/* Форма поиска */

.search-block {
  position: relative;
}

.search-block button {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: var(--white-opacity);
  border: none;
  border-radius: 50%;
}

.search svg {
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 8px;
}

.search:hover path,
.search:focus path {
  fill: var(--black);
}

.search-block button:hover,
.search-block button:focus {
  background-color: var(--white);
}

.search-block:hover .search-form,
.search-block:focus-within .search-form {
  display: block;
}

.search-form {
  position: absolute;
  z-index: 2;
  top: 35px;
  right: 0px;
  display: none;
  width: 341px;
  height: 84px;
  background: var(--background-popup);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
}

.search-form::before {
  content: "";
  z-index: 0;
  width: 341px;
  height: 24px;
  position: absolute;
  top: -5px;
  left: 0;
}

.search-form input {
  width: 311px;
  height: 44px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 15px;
  padding-right: 0;
  margin-top: 20px;
  margin-left: 15px;
}

.search-form input:hover {
  border: 2px solid var(--border-input);
  padding: 14px;
}

.search-form input:focus {
  border: 2px solid var(--border-input-focus);
  padding: 14px;
}

.search-form input::placeholder {
  font-weight: 400;
  color: var(--input-text);
}

/* Кнопки входа и корзины */

.user-link {
  position: relative;
}

.user-link:hover .form-registration,
.user-link:focus-within .form-registration {
  display: block;
}

.login-link,
.main-cart {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  background-color: var(--white-opacity);
  border-radius: 20px;
  padding: 9px 16px;
  padding-bottom: 8px;
}

.login-link {
  padding-left: 44px;
}

.login-link svg {
  position: absolute;
  left: 16px;
  top: 6px;
}

.login-link:hover path,
.login-link:focus path,
.login-link:active path {
  fill: var(--black);
}

.login-link:hover,
.login-link:focus,
.main-cart:hover,
.main-cart:focus {
  color: var(--black);
  background-color: var(--white);
}

.main-cart {
  padding-left: 45px;
}

.main-cart svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.main-cart:hover path,
.main-cart:focus path {
  fill: var(--black);
}

.cart-add::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/svg/cart-full.svg");
}

.cart-add {
  background-color: var(--white);
  color: var(--black);
}

.cart-add path {
  fill: var(--black);
}

/* Popup формы входа */

.form-registration {
  position: absolute;
  z-index: 2;
  top: 36px;
  right: 0;
  display: none;
  width: 277px;
  height: 214px;
  background: var(--background-popup);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
}

.form-registration::before {
  content: "";
  z-index: 0;
  width: 277px;
  height: 24px;
  position: absolute;
  top: -5px;
  left: 0;
}

.form-registration input {
  width: 241px;
  height: 44px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 15px;
  margin-top: 20px;
  margin-left: 19px;
  margin-right: 17px;
  margin-bottom: 0px;
}

.form-registration input:hover {
  border: 2px solid var(--border-input);
  padding: 14px;
}

.form-registration input:focus {
  border: 2px solid var(--border-input-focus);
  padding: 14px;
}

.form-registration input::placeholder {
  font-weight: 400;
  color: var(--input-text);
}

.button-link {
  background: var(--red-gradient);
  box-shadow: var(--button-popup-b-shadow);
  border: none;
  border-radius: 26px;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;

  float: left;
  padding: 14px 26px;
  margin-top: 20px;
  margin-left: 19px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.help-restore {
  margin-top: 21px;
  margin-bottom: 0;
}

.help-registration {
  margin-top: 3px;
  margin-bottom: 0;
}

.login-help {
  text-decoration: underline;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: var(--black);
  margin-top: 25px;
}

.login-help:hover {
  color: var(--link-on-white);
  text-decoration-color: var(--link-on-white-td);
}

/* Popup корзины */

.cart {
  position: relative;
}

.cart-form {
  display: none;
  position: absolute;
  top: 37px;
  right: 0;
  height: auto;
  z-index: 2;
  background: var(--background-popup);
  box-shadow: 0px 20px 20px var(--bx-shadow-popup);
  border-radius: 4px;
  padding-top: 18px;
  padding-right: 14px;
  padding-bottom: 17px;
  padding-left: 15px;
}

.cart:hover .cart-form {
  display: block;
}

.table-cart {
  width: 510px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--black);
  border-collapse: collapse;
}

.table-cart button {
  position: relative;
  left: 5px;
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.table-cart button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -2px;
  width: 15px;
  height: 1px;
  background-color: var(--black);
  transform: rotate(45deg);
}

.table-cart button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -2px;
  width: 15px;
  height: 1px;
  background-color: var(--black);
  transform: rotate(-45deg);
}

.table-cart td {
  padding-bottom: 17px;
}

.table-cart td:nth-child(1) {
  padding-right: 3px;
}

.table-cart td:nth-child(2) {
  padding-right: 11px;
  width: 33px;
}

.table-cart td:nth-child(3) {
  width: 216px;
  padding-right: 31px;
}

.table-cart td:nth-child(4) {
  color: var(--black-cart);
  width: 95px;
  padding-right: 23px;
}

td:nth-child(4) span {
  color: var(--input-text);
}

.table-cart td:nth-child(5) {
  /* text-align: center; */
}

/* .table-cart tr:last-child {
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  border-top: 1px solid #323232;
} */

tr:last-child td {
  padding-top: 16px;
  padding-right: 0;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  text-align: end;
  border-top: 1px solid var(--border-cart);
}



.btn-cart-wrap {
  position: relative;
  padding-bottom: 48px;
}

.button-cart {
  position: absolute;
  right: 0;
  font-size: 18px;
  line-height: 16px;
  border: none;
  padding: 14px 15px;
}

/* Режим работы и телефон */

.work-hours-phone {
  text-align: right;
}

.work-hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.work-phone {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: var(--white);
}

/* Слайдер с мороженым */

.site-wrapper {
  min-width: 1200px;
  background-color: var(--bg-site-1);
  background-repeat: no-repeat;
  background-position: center 83px;
}

.site-wrapper-1 {
  position: relative;
  z-index: 0;
  background-color: var(--bg-site-1);
  /* background-image: url("../img/slider-item-1.png"); */
}

.site-wrapper-1::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: -2;
  width: 716px;
  height: 716px;
  background: var(--bg-blur-1);
  filter: blur(250px);
}

.site-wrapper-2 {
  position: relative;
  z-index: 1;
  background-color: var(--bg-site-2);
  /* background-image: url("../img/slider-item-2.png"); */
}

.site-wrapper-2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: -2;
  width: 716px;
  height: 716px;
  background: var(--bg-blur-2);
  filter: blur(250px);
}

.site-wrapper-3 {
  position: relative;
  z-index: 1;
  background-color: var(--bg-site-3);
  /* background-image: url("../img/slider-item-3.png"); */
}

.site-wrapper-3::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: -2;
  width: 716px;
  height: 716px;
  background: var(--bg-blur-3);
  filter: blur(250px);
}

.slider {
  position: relative;
  padding-top: 273px;
  text-align: center;
}

.slider-list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-item h3 {
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  width: 700px;
}

.slider-item img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
  padding: 9px 23px;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  /* z-index: 1; */
  display: flex;
  gap: 8px;
}

.slider-controls button {
  /* padding: 0; */
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button:hover {
  background-color: var(--slider-hover);
}

.slider-controls button:active {
  background-color: var(--white);
}

.slider-controls .current {
  background-color: var(--white);
  pointer-events: none;
}

/* Main */

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

/* Страница Каталога */

.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
  margin-top: -25px;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
}

.page-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

/* Breadcrumbs */

.breadcrumbs {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* gap: 15px; */
  width: max-content;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  position: relative;
  margin-right: 15px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -7px;
  width: 6px;
  height: 6px;
  background-image: url(../img/svg/double-arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  display: block;
  text-decoration: none;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white);
  border-bottom: 1px solid var(--white-opacity);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: var(--background-hover);
  border-color: var(--background-hover);
}

.breadcrumbs-current a,
.breadcrumbs-current a:hover {
  border-bottom: none;
  color: var(--white);
}

/* Buttons */

.button {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: 700;

  text-shadow: var(--text-shadow-button);

  color: var(--white);
  background: var(--red-gradient);
  box-shadow: 0px 2px 2px var(--button-b-shadow);
  border-radius: 70px;
}

.button:hover,
.button:focus {
  background: var(--red-gradient-hover);
  box-shadow: 0px 2px 2px var(--button-b-sh-hover);
}

.button:active {
  background: var(--red-gradient-active);
  box-shadow: inset 0px 2px 2px var(--button-b-sh-active);
}

/* Секция с бонусами */

.preview-bonus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  height: 229px;
  margin-bottom: 40px;
}

.bonus-content-1 {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-bonus-red);
  background-image: url("../img/background/raspberry.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 22px;
}

.bonus-content-2 {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-bonus-choco);
  background-image: url("../img/background/chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 22px;
}

.bonus-header {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.bonus-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.button-bonus {
  align-self: flex-end;
  position: relative;
  top: 42px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 22px;
}

/* Параметры выбора в каталоге */

.filters {
  margin-bottom: 40px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.filter fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  /* margin-bottom: 14px; */
}

.filter legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 7px;
  padding-left: 17px;
}

.filter select {
  background-color: var(--white-opacity);
  border-radius: 20px;
  border: none;
  width: 195px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--white);
  padding: 9px 16px;

/* стрелка */
  appearance: none;
  overflow: hidden;
  /* background: url('../img/svg/arrow-sort.svg') no-repeat 171px var(--white-opacity); */
  cursor: pointer;
}

.arrow-select svg {
  position: absolute;
  top: 13px;
  right: 13px;
}

.arrow-select:hover path,
.arrow-select:focus path,
.arrow-select:active path {
  fill: var(--black);
}

.filter select:hover,
.filter select:focus {
  color: var(--black);
}

/* Двойной ползунок */

.range-filter {
  width: 218px;
}

.range-controls {
  position: relative;
  height: 19px;
  padding-top: 17px;
  padding-right: 21px;
  padding-left: 21px;
  background-color: var(--white-opacity);
  border-radius: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
  /* --bg-scale-range */
}

.range-controls .bar {
  width: 45%;
  height: 2px;
  background-color: var(--background-popup);
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  /* left: 0; */
  width: 4px;
  height: 4px;
  border: 8px solid var(--white);
  background-color: #ababab;
  /* --bg-toggle */
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
  /* --b-sh-toggle */
  cursor: pointer;
}

.range-controls .toggle-min {
left: 42px;
}

.range-controls .toggle-max {
left: 132px;
}

.range-controls .toggle:hover {
  border: 9px solid var(--white);
}

.filter ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--white-opacity);
  border-radius: 20px;
  padding: 9px 17px 9px 14px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding-left: 35px;
  /* padding-right: 4px; */
}

.filter-radio {
  padding-right: 17px;
}

.filter-checkbox {
  padding-right: 20px;
}

.filter-checkbox:last-child,
.filter-radio:last-child {
  padding-right: 0px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  width: 14px;
  height: 14px;
  border: 4px solid var(--white);
  opacity: 0.8;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: var(--white);
  opacity: 0.8;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::after,
.filter-input-radio:focus + label::before,
.filter-input-radio:checked:focus + label::after {
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/checkbox.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 24px;
  height: 20px;
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.4;
}

.filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--white);
  background-color: var(--white-opacity);
  border: 2px solid var(--white);
  border-radius: 20px;
  margin-top: 22px;
  padding: 7px 28px;
  box-sizing: border-box;
}

.filter-button:hover {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.filter-button:active {
  padding: 9px 30px;
  border: none;
  box-shadow: inset 0 2px 1px var(--bx-shadow-menu);
}

/* Каталог. Хиты продаж */

.catalog {
  /* margin-bottom: 40px; */
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
  list-style: none;
  margin: 0;
  /* margin-bottom: 40px; */
  padding: 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 267px;
  min-height: 324px;
  margin-bottom: 36px;
}

.catalog-item .catalog-name {
  order: 1;
  margin: 0;
  text-align: center;
}

.catalog-name a {
  position: relative;
  z-index: 2;
  order: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--white-opacity);
}

.catalog-name a:hover,
.catalog-name a:focus,
.catalog-name a:active {
  color: var(--link);
  border-bottom: 1px solid var(--link-td);
}

.catalog-img {
  margin: 0;
  margin-bottom: 11px;
}

.catalog-img img {
  display: block;
  border-radius: 50%;
  width: 267px;
  height: 267px;
}

.catalog-price {
  position: absolute;
  top: 209px;
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-price span {
  font-size: 30px;
  line-height: 35px;
}

.catalog-item-block::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: -13px;
  width: 293px;
  min-height: 402px;
  background-color: var(--white-opacity);
  border-radius: 4px;
}

.catalog-item-block {
  /* position: relative; */
  margin: 0;
  display: none;
}

.catalog-item:hover .catalog-item-block,
.catalog-item:focus .catalog-item-block {
  display: block;
}

.button-catalog {
  position: absolute;
  z-index: 2;
  left: 33px;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 16px;
  bottom: -52px;
}

/* для переполнения ??? */
.button-catalog::before {
  content: "";
  position: absolute;
  width: 170px;
  height: 20px;
  top: -10px;
}

.hit-item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-image: url(../img/svg/hit.svg);
  background-repeat: no-repeat;
  background-color: var(--white);
  background-position: 50% 50%;
}

/* Пагинация в каталоге */

.pagination-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  margin: 0;
  margin-right: 21px;
  margin-bottom: 48px;
  padding: 0;
  padding-top: 40px;
}

.pagination-item {
  position: relative;
  width: 26px;
  height: 26px;
}

.pagination-item-prev,
.pagination-item-next {
  position: relative;
  top: 8px;
}

.pagination-item-prev a::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 12px;
  width: 7px;
  height: 12px;
  background-image: url(../img/svg/arrow-pagination.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.prev-not-active a {
  opacity: 0.2;
}

/* .pagination-item:first-child::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 40px;
  width: 7px;
  height: 12px;
  background-image: url(../img/svg/arrow-pagination.svg);
  opacity: 0.2;
  background-repeat: no-repeat;
  transform: rotate(180deg);
} */

.pagination-item-next a::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 14px;
  width: 7px;
  height: 12px;
  background-image: url(../img/svg/arrow-pagination.svg);
  background-repeat: no-repeat;
}

.pagination-item a {
  display: block;
  text-decoration: none;
  padding: 4px 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--white);
  text-align: center;
}

.pagination-item a:hover {
  border-radius: 50%;
  background-color: var(--white-opacity);
}

.pagination-item a:active {
  background-color: var(--white);
  color: var(--black);
}

.pagination-item-current a,
.pagination-item-current a:hover {
  border-radius: 50%;
  background-color: var(--white);
  color: var(--black);
}

/* Информация о магазине */

.about {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-waffle);
  background-image: url(../img/pattern-waffle.jpg);
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.about h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: var(--black);
  margin-top: 0px;
  margin-bottom: 17px;
}

.about-list {
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 83px;
  row-gap: 22px;
  margin: 0;
  margin-left: 56px;
  margin-bottom: 30px;
  padding: 0;
}

.about-list-item {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);
  width: 482px;
}

.about-list-item::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -57px;
  width: 47px;
  height: 47px;
  border: 2px solid var(--black);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.about-list-item:first-child::before {
  background-image: url(../img/svg/icecream.svg);
}

.about-list-item:nth-child(2)::before {
  background-image: url(../img/svg/cow.svg);
}

.about-list-item:nth-child(3)::before {
  background-image: url(../img/svg/leaf.svg);
}

.about-list-item:last-child::before {
  background-image: url(../img/svg/thermometer.svg);
}

/* Новости в блоге */

.news-subscribe-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

.new-blog {
  width: 560px;
  height: 220px;
  background-color: var(--white);
  background-image: url(../img/background/srawberries.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.new-blog h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
  padding-top: 19px;
  padding-left: 20px;
  margin: 0;
}

.blog-link {
  display: block;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);
  width: 287px;
  padding-top: 2px;
  padding-left: 20px;
}

.blog-link:hover,
.blog-link:active {
  color: var(--link-on-white);
  text-decoration-color: var(--link-on-white-td);
}

/* Подписка */

.subscribe {
  padding: 5px 6px;
  position: relative;
  z-index: 1;
  width: 560px;
  height: 220px;
  background-image: url(../img/background/background-post.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.subscribe-wrap {
  content: "";
  z-index: 2;
  border-radius: 16px;
  background: var(--background-subscribe);
  width: 548px;
  height: 100%;
}

.subscribe-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--text-subscribe);
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 16px;
  margin: 0;
  margin-bottom: 40px;
}

.subscribe-wrap input {
  width: 368px;
  height: 44px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border: 1px solid var(--border-input-modal);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 14px;
  margin-left: 20px;
  margin-right: 7px;
  outline: none;
}

.subscribe-wrap input:hover {
  border: 2px solid var(--border-input);
  padding: 13px;
}

.subscribe-wrap input:focus {
  border: 2px solid var(--border-input-focus);
  padding: 13px;
}

.subscribe-wrap input::placeholder {
  font-weight: 400;
  color: var(--input-text);
}

.button-submit {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 19px;
  border: none;
}

/* Карта и адрес магазина */

.contacts {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  margin-bottom: 18px;
  /* background-image: url("../img/map_pin.png"); */
  background-repeat: no-repeat;
}

.contacts iframe {
  text-align: center;
  width: 100%;
  height: 430px;
}

/* .address-map {
  text-align: center;
  width: 100%;
  height: 430px;
} */

/* .address-map img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .address-map::before {
  content: "";
  width: 80px;
  height: 140px;
  position: absolute;
  top: 107px;
  left: 525px;
  background-image: url(../img/svg/map-marker.svg);
  background-repeat: no-repeat;
} */

.address-wrap {
  display: flex;
  justify-content: flex-end;
}

.contacts-address {
  position: absolute;
  top: 62px;
  width: 303px;
  height: 306px;
  background: var(--background-address);
  border-radius: 16px;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: var(--black);
}

.address-block {
  padding-top: 30px;
  padding-left: 25px;
}

.contacts-address span,
.contacts-address .contacts-phone {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black);
}

.contacts-address p {
  margin: 0;
}

.contacts-address span {
  display: block;
  padding-bottom: 22px;
}

.button-feedback {
  font-size: 18px;
  line-height: 24px;
  padding: 9px 28px;
  margin-top: 29px;
}

/* Footer */

.main-footer {
  margin-bottom: 25px;
}

.main-footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 26px;
}

/* Социальные кнопки */

.footer-socials {
  text-align: center;
  justify-self: start;
  padding-top: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button:hover path,
.social-button:focus path {
  fill-opacity: 1;
}

.social-button:active path {
  stroke-opacity: 0.7;
}

/* Блок с дополнительной информацией */

.footer-additional-info {
  justify-self: center;
}

.additional-info {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 33px;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 4px;
  padding-top: 12px;
}

.additional-info a {
  text-decoration: none;
  border-bottom: 1px solid var(--white-opacity);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: var(--white);
}

.additional-info a:hover,
.additional-info a:focus,
.additional-info a:active {
  color: var(--link);
  border-bottom: 1px solid var(--link-td);
}

.additional-info li:first-child a {
  font-weight: 700;
}

.additional-info li:first-child::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -18px;
  width: 15px;
  height: 13px;
  background-image: url(../img/svg/heart.svg);
  background-repeat: no-repeat;
}

/* Сделано в академии */

.footer-copyright {
  justify-self: end;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright p:last-child {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 8px;
}

.copyright-link {
  text-decoration: underline;
  color: var(--white);
  text-decoration-color: var(--white-opacity);
}

.copyright-link:hover,
.copyright-link:focus,
.copyright-link:active {
  color: var(--link);
  text-decoration-color: var(--link-td);
}

/* Модальное окно */

.modal {
  position: absolute;
  z-index: 1;
  top: 338px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.modal-wrapper {
  position: relative;
  width: 477px;
  height: 441px;
  background: var(--background-popup);
  border-radius: 6px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 27px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.modal-wrapper h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--black);
}

.feedback-form p {
  margin: 0;
  padding-top: 20px;
}

.feedback-form input,
.feedback-form textarea {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: 1px solid var(--border-input-modal);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px;
  width: 267px;
  height: 44px;
}

.feedback-form textarea {
  width: 428px;
  height: 154px;
  padding-top: 11px;
  margin-bottom: 20px;
}

.feedback-form input:hover {
  border: 2px solid var(--border-input-modal);
  padding: 13px;
}

.feedback-form textarea:hover {
  border: 2px solid var(--border-input-modal);
  padding: 10px;
  padding-left: 13px;
}

.feedback-form input:focus {
  border: 2px solid var(--border-input-focus);
  padding: 13px;
  outline: none;
}

.feedback-form textarea:focus {
  border: 2px solid var(--border-input-focus);
  padding: 10px;
  padding-left: 13px;
  outline: none;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-weight: 400;
  color: var(--input-text);
}

.feedback-form .button-submit {
  position: absolute;
  right: 25px;
  padding: 12px 24px;
  font-size: 18px;
  line-height: 24px;
}

.modal-close {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 16px;
  right: 15px;
  background-color: transparent;
  background-image: url("../img/svg/cross-modal.svg");
  border: none;
  cursor: pointer;
}
